th{
    font-size: 14pt;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

.info{
    font-size: 14pt;
    color: black;
    font-weight: normal;
    text-align: left;
    padding: 8px;
}

table{
    margin: auto;
}

#id1{
    text-align: center;
    color:black;
    font-size: 16pt;
    margin-top: 0.5%;
    font-size: 20pt;
    font-family: Comic Sans MS;
}

body{
    background-image: url("flag.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; /* ������������ ��� */
}

#a1{
    color:black;
    font-size: 16pt;
    text-align:center;
    display: block;
}

.a2 a{
    color: #ffe32f;
    font-weight: normal;
    font-size: 16pt;
    text-align: right;
    font-weight: 600;
    padding-top: 0.1px;
    display: block;
    text-decoration: none;
}
<<<<<<< HEAD
#arb{
<<<<<<< HEAD
    text-align: center;
    font-weight: normal;
=======
>>>>>>> b372c30b6c6fdb5adbc5453fdd95904ec05f9283
    text-decoration: none;
    color: blue;
}
=======
>>>>>>> baf1e5d04db5ac80a1cf2f92c8f80711431dc2c4

#arb{
    text-align: center;
    text-decoration: none;
    color: #8B1C62;
}

.a2 a:hover {
    color: hotpink;
    font-weight: bold;
}

#logout{
    color: black;
    font-size: 16pt;
    text-align: center;
    font-weight: 600;
}

#line{
    text-align: center;
    margin-bottom: -25px;
}

input[type=text], input[type=password]{
    width: 100%;
    text-align: center;
    font-size: 14pt;
    padding: 10px 26px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 575px;
}

.label{
    color: black;
    font-size: 16pt;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#arbitr
{
    text-align: center;
    font-size: 16pt;
    font-weight: normal;
    width: 100%;
    float: left;
}

li{
    list-style-type: circle;
    color: #8B1C62;
    float: left;
    margin-left: 45%;
    padding-top: 1%;
}

.button1{
    background-color: rgb(113, 198, 1);
    font-size: 16pt;
    color: white;
    padding: 14px 25px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    margin-left: 34%;
    margin-top: 5%;
}

.button2{
    background-color: rgb(113, 198, 1);
    font-size: 16pt;
    color: white;
    padding: 14px 25px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    margin-left: 41%;
    margin-top: 3%;
}



