{# Этот шаблон отвечает за вывод конкретного дела и всей информации относящейся к нему плюс форм, что могут его изменить #}
{% extends "base.html" %}

{% block content %}
    {# Вот тут и начинается красивый вывод инфы и в конце кнопка -- изменить #}
    {% comment %}
    Обязательно сделать вывод миленьким и рядом дописать пояснения, то есть
    чтобы не просто тупо выводились значения, а еще и было понятно
    что они означают.
    {% endcomment %}
    <p class="info">Ім'я боржника: {{ "    " }}{{ act.person }} <br /></p>
    <p class="info">Дата відкриття справи: {{ act.start_date }} <br /></p>
    <p class="info">Дата відкриття справи: {{ act.start_date }} <br /></p>



{% endblock %}