{# Этот шаблон отвечает за вывод конкретного дела и всей информации относящейся к нему плюс форм, что могут его изменить #}
{% extends "base.html" %}

{% block content %}
    {# Вот тут и начинается красивый вывод инфы и в конце кнопка -- изменить #}
    {% comment %}
    Обязательно сделать вывод миленьким и рядом дописать пояснения, то есть
    чтобы не просто тупо выводились значения, а еще и было понятно
    что они означают.
    {% endcomment %}

<table >
    <tr>
        <th>Ім'я боржника:</th>
        <td class="info">{{ act.person.name }}</td>
    </tr>
    <tr>
        <th>Код боржника:</th>
        <td class="info">{{ act.person.code }}</td>
    </tr>
    <tr>
        <th>Ім'я боржника:</th>
        <td class="info">{{ act.person.jud_procedure }}</td>
    </tr>
        <tr>
        <th>Інформація по справі:</th>
        <td class="info">{{ act.person.information }}</td>
    </tr>
    <tr>
        <th>Дата відкриття справи:</th>
        <td class="info">{{ act.start_date }}</td>
    </tr>
    <tr>
        <th>Дата завершення справи у суді:</th>
        <td class="info">{{ act.finish_jud_date }}</td>
    </tr>
    <tr>
         <th>Інформація щодо справи:</th>
         <td class="info">{{ act.info_processing}}</td>
    </tr>
    <tr>
         <th>Дата завершення справи:</th>
         <td class="info">{{ act.end_date}}</td>
    </tr>
    <tr>
         <th>Номер арбітражного керуючого:</th>
         <td class="info">{{ act.arbitration}}</td>
    </tr>
    <tr>
         <th>Адреса суду:</th>
         <td class="info">{{act.jud_id_judge.adress}}</td>
    </tr>
    <tr>
         <th>Назва суду :</th>
         <td class="info">{{act.jud_id_judge.name}}</td>
    </tr>
    <tr>
         <th>Ім'я судді:</th>
         <td class="info">{{act.jud_id_judge.judge_name}}</td>
    </tr>
    <tr>
         <th>Статус арбітражного керуючого:</th>
         <td class="info">{{act.arbitr_status}}</td>
    </tr>
    <tr>
         <th>Дата призначення арбітражного керуючого:</th>
         <td class="info">{{ act.arbitr_start}}</td>
    </tr>
    <tr>
         <th>Список кредиторів:</th>
         <td class="info">{{ act.list_creditors}}</td>
    </tr>
    <tr>
         <th>Вимоги кредиторів:</th>
         <td class="info">{{ act.creditor_requirements}}</td>
    </tr>

</table>

{% endblock %}