{% extends "base.html" %}

{% block content %}
<div id="arbitr" class="a2">
    {{ location}}<br />
    {# Типо локация определяет департамент, ибо  у департаментов нету имен *крайнее негодование* #}
    Ваш арбітражний керуючий:
    {%  for arbitr in list_arbitrates %}
    <ul>
    <li>
        <a class="a2" id="arb" href="/acts/{{ arbitr.id }}/">{{ arbitr.user.get_full_name }}</a>
    </li>
    </ul>
    {% endfor %}

</div>
<a class="button1" href="/createarbitrate/">Створити нового арбітражного керуючого</a>
<a class="button2" href="/createact/">Створити нову справу</a>

{% endblock %}