{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Ваше ім'я користувача та пароль не вірні. Сробуйте ще раз.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

    <table align="center">
        <tr>

            <td class="label" >Логін</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td class="label">Пароль</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

<input type="submit" value="Логін" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}